__pycache__/
.env
.env.*
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.swp
*.swo
*.log
*.egg-info/
dist/
build/
htmlcov/
.coverage
.coverage.*
.cache/
.tox/
pytest_cache/
.clangd/

venv/
env/
pip-wheel-metadata/
.idea/
.vscode/

*.ini

.DS_Store
Thumbs.db

# Excluir archivos y carpetas relacionados con Prisma
/prisma
prisma/migrations/
prisma/client/
prisma/.env

# Excluir archivos y carpetas relacionados con Node.js
node_modules/
package-lock.json
yarn.lock
